



    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                  <p><img class="center-image img-responsive" src="img/mitchell.jpg"/></p>
              </div>
              <div class="hidden-xs col-sm-6 col-md-4 col-lg-4">
                  <!-- <img class="center-image img-responsive" src="img/BrianImagePic300.png"/> -->
                  <p><b>Brian S. Mitchell, Ph.D.</b></p>
                  <p>Research Associate Professor<br>
                     College of Computing and Informatics<br>
                     Drexel University<br>
                     bmitchell at cs.drexel.edu
                  </p>
              </div>
              <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                  <p class="text-center"><b>Brian S. Mitchell, Ph.D.</b></p>
                  <p class="text-center">Research Associate Professor<br>
                      College of Computing and Informatics<br>
                      Drexel University<br>
                      bmitchell at cs.drexel.edu
                  </p>
              </div>
              <div class="hidden-sm hidden-xs col-xs-12 col-sm-8 col-md-6 col-lg-6">
                  <p class="text-center"><img src="img/DragonHead.gif"/></p>
                  <p class="text-center"><img src="img/SERG.jpg"/></p>
              </div>
          </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Welcome to my new Webpage</h2>
          <p>My last wepbage was created in 2002 and I have been maintaining it for a very long time.  One goals for
             modernizing my CS575 class was to cover architectures for single page web applications.  In order to
             research some concepts for my class I decided that I would modernize my website using some of these technologies.
             Well, welcome to my updated site - it uses HTML5, its responsive, and uses modern frameworks such as Bootstrap,
             Angular and Underscore.  I hope you like it!
          </p>
          <div class="well well-sm">
              My old wepage is still available at <a href="http://www.cs.drexel.edu/~bmitchell/BrianHome.html">
                    http://www.cs.drexel.edu/~bmitchell/BrianHome.html</a>
          </div>
        </div>
        <div class="col-lg-4">
          <h2>Check out the SOA and Node.Js Demo</h2>
          <p>
              I built a simple demo to show how Angular.Js and Node.Js can be used togeter to build a modern SPA application.
              The purpose of this site is to take a modified version of my homepage to demonstrate routing and some
              basic angularjs functions on the demo page.
          </p>
          <p><a class="btn btn-default" href="#/demo">Go To The Demo &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>What Else Do I Do?</h2>
            <p>
              I'm an enterprise architect leader at Cigna where I work on significant
              health technology programs, as the chief-architect of several business areas, and as a
              technology thought leader.  Recently, I was the lead architect responsible for the
              redeployment of <a href="http://my.cigna.com">Cigna's websites</a> and the lead for our
              <a href="http://www.cigna.com/aboutcigna/cigna-mobile/"> mobile products</a>.  I am also actively
              involved in our developer program - see <a href="http://developer.cigna.com">
              http://developer.cigna.com</a>, and in modernizing Cigna's SOA technology stack.
            </p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Brian Mitchell 2013</p>
      </footer>
    </div> <!-- /container -->



